@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

a {
    text-decoration: none;
}
.blur-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1000vh;
    background: rgba(0, 0, 0, 0.7);
    z-index:1;
    visibility: hidden;
}
.heading{
    font-size:4.2rem;
    text-align:center;
    margin-top:30px;

}

.mainDiv {
    height: 50px;
    width: 113rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.totalMovies p {
    font-size: 25px;
    color: black;
    margin-top: 5px;
}

.totalMovies span {
    font-size: 20px;
    color: #696969;
    margin-left: 5px;
}

.controller {
    display: flex;
    gap: 40px;
}
.gotoShop {
    background-color: #9C4100;
    width: 10rem;
    height: 4rem;
    color: white;
    border-radius: 5px;
    border-style: none;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.searchbar {
    width: 100%;
    width: 250px;
    display: inline-flex;
}

.searchbar--max-width {
    max-width: 100%;
}

.searchbar__input {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    border: 1px solid #696969;
    border-radius: 5px 0 0 5px;
    transition: background 0.25s, box-shadow 0.25s;
    height: 40px;
    font-size: 1.6rem;
}

    .searchbar__input:focus {
        background: white;
        box-shadow: 0 0 2px #696969;
    }

    .searchbar__input::placeholder {
        color: #696969;
        font-size: 1.6rem;
    }

.searchbar__button {
    width: 40px;
    background: #9C4100;
    color: #ffffff;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    user-select: none;
}

    .searchbar__button:hover {
        background-color: black;
    }

    .searchbar__button:active {
        box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.25);
    }
/*table design starts*/
.forTable table{
    margin-top:20px;
    width:90%;
    margin-left:5%;

}
.forTable h1 {
    text-align: center;
    margin-top: 100px;
}
table th,td
{
    text-align:center;
}
table th {
    background-color: #9C4100;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
}
tr:nth-child(even) {
    background-color: #ebd9cc;
}

/*table design ends*/
/*Form Box*/
.addMovieBox {
    height: 560px;
    width: 30%;
    background-color: #F2F4F6;
    position: fixed;
    margin-top: 100px;
    margin-left: 400px;
    visibility:hidden;
    z-index:2;
    
}
.editMovieBox1 {
    height: 560px;
    width: 30%;
    background-color: #F2F4F6;
    margin-top: 100px;
    margin-left: 400px;
    position: fixed;
    visibility:hidden;
    z-index:3;

}
.editMovieBox1 button {
    margin-left: 406px;
    border-style: none;
    background-color: #F2F4F6;
    width: 50px;
}

.editMovieBox1 button i {
        color: red;
        font-size: 40px;
 }

    .editMovieBox1 button:hover {
        background-color: red;

    }

        .editMovieBox1 button:hover i {
            color: white;
        }


    .addMovieBox button {
        margin-left: 406px;
        border-style: none;
        background-color: #F2F4F6;
        width: 50px;
    }

        .addMovieBox button i {
            color: red;
            font-size: 40px;
        }

        .addMovieBox button:hover {
            background-color: red;
        }

            .addMovieBox button:hover i {
                color: white;
            }

.addMovieForm {
    height: 420px;
    width: 85%;
    margin-left: 7.5%;
    padding-top: 10px;
}

    .addMovieForm label {
        font-size: 18px;
        color:black;
        margin-bottom: 0;
    }

.forForm {
    margin-top: 0;
    height: 45px;
    font-size: 15px;
    padding-left: 10px;
    width: 100%;
    border-radius: 10px;
    border-color: #696969;
    border-style: none;
    background-color: white;
    margin-bottom: 10px;
}


.forForm placeholder {
    color: #696969;
}



.button {
    margin-top: 10px;
    width: 200px;
    background-color: #696969;
    color: white;
}

    .button:hover {
        background-color: black;
    }
/*Form box ends*/
