
@{
    ViewBag.Title = "GamesPage";
    Layout = null;
}
<html>
<head>
    @*css*@

    <link rel="stylesheet" href="~/Content/ContactUs/newContactUsCss.css" />
    <link rel="stylesheet" href="~/Content/homePage/css/headerAndFooter.css" />

    @*css ends*@
    @*Bootstrap link*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    @*Bootstrap link ends*@
    @*Font awesome link*@
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*Font awesome link ends*@
    @*font link*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    @*Font style link ends*@
    <title>Games</title>

</head>
<body>
    @*navbar design begins*@
    @{ Html.RenderAction("header", "forHeader");}
    @*navbar desing ends*@
    @*Contact Us form starts*@
    <div class="blur-box" id="blurBox">
        <div class="download-started" id="downloadStarted">
            <p>Thank you for messaging us.</p>
            <button class="gotoShop"><a href="@Url.Action("messageReceived","contactUs")">OK</a></button>
        </div>
    </div>
    <div class="contactUs">
        <div class="contactUsImg">
            <img src="~/Content/Cart/tom-and-jerry-tom.gif" height="600" width="400" alt="">
        </div>
        <div class="contactUsBox">
            @using (Html.BeginForm("saveMessage", "contactUS", FormMethod.Post))
            {
                <label>Name</label>
                <br>
                <input type="text" class="inputSection" placeholder="Enter your name" name="userName">
                <br>
                <br>
                <label>Email</label>
                <br>
                <input type="text" class="inputSection" placeholder="Enter your email" name="email">
                <br>
                <br>
                <label>Subject</label>
                <br>
                <input type="text" class="inputSection" placeholder="Enter your subject topic" name="subject">
                <br>
                <br>
                <label>Message</label>
                <br>
                <textarea name="message" class="inputSection" id="" cols="60" rows="10" placeholder="Enter your message"></textarea>
                <br>
                <input type="submit" class="button" value="Send Message">

            }
        </div>
    </div>
    @*Contact Us form ends*@
    @*Footer Contain start*@
    @{Html.RenderAction("footer", "forFooter"); }
    @*Footer Contain Ends*@
    <script>
        if ("@Session["message"]" == "no") {
            document.getElementById("downloadStarted").style.visibility = "hidden";
            document.getElementById("blurBox").style.visibility = "hidden";
        }
        if("@Session["message"]" == "yes")
        {
            document.getElementById("downloadStarted").style.visibility = "visible";
            document.getElementById("blurBox").style.visibility = "visible";
        }
        function visibleThankyouBox() {
            document.getElementById("downloadStarted").style.visibility = "hidden";
            document.getElementById("blurBox").style.visibility = "hidden";
        }
    </script>

</body>
</html>




