
@{
    ViewBag.Title = "GamesPage";
    Layout = null;
}
<html>
<head>
    @*css*@

    <link rel="stylesheet" href="~/Content/ContactUs/contactUsCss1.css" />
    @*css ends*@
    @*Bootstrap link*@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    @*Bootstrap link ends*@
    @*Font awesome link*@
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*Font awesome link ends*@
    @*Font style link*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap" rel="stylesheet">
    @*Font style link ends*@
    <title>Games</title>

</head>
<body>
    @*navbar design begins*@
    <div class="navbar1">
        <div class="forLogo">
            <img src="~/Content/homePage/image/gameland.jpg" alt="logo" />
        </div>
        <div class="forTopic">
            <ul>
                <li><a href="@Url.Action("homePage","forHomePage")">Home</a></li>
                <li><a href="#productCategories">Product</a></li>
                <li><a href="@Url.Action("forCart","myCart")">Cart</a></li>
                <li><a href="@Url.Action("contactUsPage","contactUs")">Contact</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="forLogOut">
            <button type="button" class="btn btn-secondary"><a href="@Url.Action("loginPage","forLoginPage")"> Sign Out</a></button>
        </div>

    </div>
    @*navbar desing ends*@
    @*Contact Us form starts*@
    <div class="contactUs">
        <div class="contactUsImg">
            <img src="~/Content/ContactUs/tom-and-jerry-tom.gif" height="600" width="400" alt="">
        </div>
        <div class="contactUsBox">
           @using (Html.BeginForm("saveMessage", "contactUS",FormMethod.Post))
           {
                <label>Name</label>
                <br>
                <input type="text" placeholder="Enter your name" name="userName">
                <br>
                <br>
                <label>Email</label>
                <br>
                <input type="text" placeholder="Enter your email"  name="email">
                <br>
                <br>
                <label>Subject</label>
                <br>
                <input type="text" placeholder="Enter your subject topic" name="subject">
                <br>
                <br>
                <label>Message</label>
                <br>
                <textarea name="message" id="" cols="60" rows="10" placeholder="Enter your message"></textarea>
                <br>
                <input type="submit" class="button" value="Send Message">

           }
        </div>
    </div>
    @*Contact Us form ends*@
    @*Footer Contain start*@
    <footer class="footer11">
        <div class="container11">
            <div class="row11">

                <div class="footerCol11">
                    <h4>Quick Link</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Product</a></li>
                        <li><a href="#">Cart</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footerCol11">
                    <h4>Get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Payment Options</a></li>
                    </ul>
                </div>
                <div class="footerCol11">
                    <h4>Install App</h4>
                    <div class="iconImg11" style="margin-top: 10px;">
                        <button><a href="#"><i class="fab fa-app-store"></i></a></button>
                        <button> <a href="#"><i class="fab fa-google-play"></i></a></button>
                    </div>
                    <h4 style="margin-top: 10px;">Secured payment gateway</h4>
                    <div class="iconImg11">
                        <button><a href="#"><i class="fa fa-cc-mastercard" style="font-size:25px;"></i></a></button>
                        <button><a href="#"><i class="fa fa-cc-visa"></i></a></button>
                        <button> <a href="#"><i class="fa fa-credit-card"></i></a></button>

                    </div>


                </div>
                <div class="footerCol11" style="margin-left: 60px;">
                    <h4>follow us</h4>
                    <div class="iconImg11">
                        <button><a href="#"><i class="fab fa-facebook-f"></i></a></button>
                        <button><a href="#"><i class="fab fa-twitter"></i></a></button>
                        <button><a href="#"><i class="fab fa-instagram"></i></a></button>
                        <button><a href="#"><i class="fab fa-linkedin-in"></i></a></button>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @*Footer Contain Ends*@

</body>
</html>




