@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
   
    font-family: 'Poppins', sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*style for nav bar start*/
.navbar1 {
    height: 90px;
    background-color: #ffffff;
    display: flex;
    width: 100%;
    /*position:fixed;*/
}

.forLogo {
    height: 70px;
    background-color: black;
    margin-left: 100px;
    margin-top: 10px
}

.forTopic {
    height: 70px;
    width: 700px;
    margin-left: 500px;
    margin-top: 10px;
    padding-top: 15px;
}

.forLogOut {
    height: 70px;
    margin-top: 25px;
}

.forLogo img {
    height: 70px;
    width: 70px;
}

.forTopic ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.forTopic a {
    text-decoration: none;
    font-size: 23px;
    color: #696969;
}

.forLogOut button a {
    text-decoration: none;
    color: white;
}

.forTopic a:hover {
    text-decoration: underline;
    color: #E7A14A;
}
/*style for navbar finish*/
/*your order Box css start*/
.yourOrderBox {
    height: 50px;
    margin-top:50px;
  
}
.yourOrderBox p {
       font-size:40px;
        font-family: 'Advent Pro', sans-serif;
        font-family: 'Signika Negative', sans-serif;
        color: #696969;
        margin-left:40px;
 }
/*your order Box css ends*/
/*cart css*/
.cartBox{
    margin-top:15px;
  
}
.emptyCartMsgBox{
    height:400px;
    position:absolute;
    margin-left:600px;
    visibility:hidden;
}
 .emptyCartMsgBox p {
        font-family: 'Advent Pro', sans-serif;
        font-family: 'Signika Negative', sans-serif;
        color: #696969;
        font-size:28px;
        text-align:center;
    }
    .emptyCartMsgBox button
    {
        margin-left:100px;
    }

    .emptyCartMsgBox button a {
        text-decoration: none;
        color: white;
    }
    .tableBox{
        width:93%;
        margin-left:40px;
        visibility:hidden;
    }
    .tableBox table th {
            background-color: #696969;
            color: white;
    }
    .tableBox table th{
            padding-left:20px;
    }
        .tableBox table td {
            padding-left: 20px;
        }
    .tableBox button
    {
      margin-left:1280px;
    }
        .tableBox table td a {
            text-decoration: none;
            color:black;
            margin-left:15px;
        }
            .tableBox table td a i{
                font-size:30px;
            }
                .tableBox table td a i:hover{
                    color:red;
                }
                .tableBox button a {
                    text-decoration: none;
                    color: white;
                }
/*cart css ends*/
/*Footer containt starts*/


.container1 {
    max-width: 1170px;
    margin: auto;
}

.row1 {
    display: flex;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 20px;
}

.footerCol {
    width: 25%;
    padding: 0 15px;
}

    .footerCol h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position:relative;
    }

        .footerCol h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #e91e63;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footerCol ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footerCol ul {
        margin-left: 0;
        padding-left: 0;
    }

        .footerCol ul li a {
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
        }

    .footerCol p {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

    .footerCol ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }

.iconImg button {
    color: white;
    background-color: rgba(255,255,255,0.2);
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 50%;
}

    .iconImg button:hover {
        background-color: white;
    }

    .iconImg button a {
        color: white;
    }

    .iconImg button:hover a {
        color: black;
    }



/*responsive*/
@media(max-width: 767px) {
    .footerCol {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footerCol {
        width: 100%;
    }
}

.paymentMethod {
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
}
/*Footer containt ends*/


