@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1;
}

a {
    text-decoration: none;
}
.navbar {
    max-width: 140rem;
    padding: 0 5rem;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 1px solid #9C4100;
}

.logo {
    width: 60px;
    height: 60px;
}

.nav-links ul {
    display: flex;
    gap: 4rem;
}

    .nav-links ul li {
        list-style: none;
    }

        .nav-links ul li a {
            font-size: 1.8rem;
            color: black;
            font-weight: 400;
            letter-spacing: 1px;
            transition: all 0.3s;
            text-decoration: none;
        }

            .nav-links ul li a:hover {
                color: #9C4100 !important;
            }

.signIn {
    font-size: 1.6rem;
    color: #000;
    font-weight: 400;
    background-color: #8a8988;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.3s;
    text-decoration: none;
}

    .signIn:hover {
        background-color: #181818;
        color: white;
    }

.logIn {
    font-size: 1.6rem;
    font-weight: 400;
    background-color: #9C4100;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    margin-left: 5px;
    transition: all 0.3s;
    text-decoration: none;
}

    .logIn:hover {
        background-color: #ba7a4d;
        color: white;
    }
.for-logined-user {
    display: flex;
    gap: 1rem;
}

.favorite {
    color: black;
    font-size: 3.2rem;
    margin-right: 15px;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 5px;
}

.cart {
    color: black;
    font-size: 3.2rem;
    margin-right: 15px;
    transition: all 0.3s;
    cursor: pointer;
    margin-top: 5px;
}

.favorite:hover {
    color: #9C4100;
}

.cart:hover {
    color: #9C4100;
}

.user-btn {
    background-color: #9C4100;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}
.user-btn p{
    font-size:2.2rem;
    color:white;
    margin-top:10px;
}
    .user-btn:hover .user {
        color: #9C4100;
    }

.user {
    color: black;
    font-size: 3.8rem;
}

.user2 {
    color: #000;
    font-size: 3.8rem;
    color: #525252;
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 5px;
    min-width: 200px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

    .sub-menu-wrap.open-menu {
        max-height: 400px;
        border: 1px solid black;
    }

.sub-menu {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

    .user-info p {
        font-weight: 300;
        font-size: 1.6rem;
        color:black;
    }

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: black;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
    color: black;
    margin-top: 12px;
    margin-left: 5px;
    transition: all 0.3s;
}

    .sub-menu-link:hover {
        padding-left: 10px;
    }

    .sub-menu-link ion-icon {
        font-size: 2.2rem;
    }

    .sub-menu-link p {
        font-size: 1.6rem;
        font-weight: 300;
    }
/*Footer containt starts*/


.container1 {
    max-width: 1170px;
    margin: auto;
}

.row1 {
    display: flex;
}

ul {
    list-style: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0;
    margin-top: 20px;
}

.footerCol {
    width: 25%;
    padding: 0 15px;
}

    .footerCol h4 {
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }

        .footerCol h4::before {
            content: '';
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: #9C4100;
            height: 2px;
            box-sizing: border-box;
            width: 50px;
        }

    .footerCol ul li:not(:last-child) {
        margin-bottom: 10px;
    }

    .footerCol ul {
        margin-left: 0;
        padding-left: 0;
    }

        .footerCol ul li a {
            font-size: 16px;
            text-transform: capitalize;
            color: #ffffff;
            text-decoration: none;
            font-weight: 300;
            color: #bbbbbb;
            display: block;
            transition: all 0.3s ease;
        }

    .footerCol p {
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }

    .footerCol ul li a:hover {
        color: #ffffff;
        padding-left: 8px;
    }

.iconImg button {
    color: white;
    background-color: rgba(255,255,255,0.2);
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 50%;
    margin-right:5px;
}

    .iconImg button:hover {
        background-color: white;
    }

    .iconImg button a {
        color: white;
    }

    .iconImg button:hover a {
        color: black;
    }



/*responsive*/
@media(max-width: 767px) {
    .footerCol {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footerCol {
        width: 100%;
    }
}

.paymentMethod {
    height: 50px;
    width: 100%;
    background-color: white;
    display: flex;
}
/*Footer containt ends*/
